NODE_ENV=development
PORT=4001

AUTH_ISSUER=http://localhost:4000
INTERNAL_TOKEN=users-internal-token

DB_HOST=localhost
DB_PORT=5432
DB_USER=users
DB_PASSWORD=users
DB_NAME=users

SEED_ADMIN_USERNAME=admin
SEED_ADMIN_ROLES=admin,employee,client
SEED_CLIENT_USERNAME=client1
SEED_CLIENT_ROLES=client
