NODE_ENV=development
PORT=4001

AUTH_ISSUER=http://localhost:4000
INTERNAL_TOKEN=7f8c2b7d2f6a4b8e5a6d1c3b5e7f9a1c

DB_HOST=localhost
DB_PORT=5432
DB_USER=users
DB_PASSWORD=users
DB_NAME=users

SEED_ADMIN_USERNAME=admin
SEED_ADMIN_ROLES=admin,employee,client
SEED_CLIENT_USERNAME=client1
SEED_CLIENT_ROLES=client

MONITORING_SERVICE_URL=http://localhost:4010
